.add-appointment .card-body {
  display: none;
}

.apt-addheading {
  cursor: pointer;
  user-select: none;
}

.appointment-list {
  font-size: 1.1em;
}

.appointment-list .pet-item {
  border-bottom: 1px dotted gray;
}

.appointment-list .pet-item:last-child {
  border-bottom: none;
}

.appointment-list .pet-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.appointment-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.appointment-list .apt-date {
  font-style: italic;
}

.appointment-list .apt-notes {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}



/**  Interface Styles **/

.apt-addheading {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 10px 5%;
  font-size: 1rem;
}

.item-list .pet-item {
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
}

.item-list .pet-item:last-child {
  border-bottom: none;
}

.item-list .pet-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.item-list .pet-info {
  font-size: 1.7em;
}

.item-list .label-item {
  font-weight: 600;
  color: #667B82;
}

.owner-name {
  font-size: 19px;
  margin-bottom: 0px;
}

.item-list .pet-delete {
  font-size: 1.2em;
}

.item-list .apt-date {
  font-style: italic;
  font-size: 15px;
}

.item-list .apt-notes {
  font-weight: 100;
}